body, html
  line-height 1
  font-weight 200
  font-family "Arial","Microsoft YaHei","黑体","宋体",sans-serif
  background rgba(0, 0, 0, 0.1)

.clearfix
  display inline-block
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden
